
@{ 
    ViewBag.Title = Model.Name;
}
<div>
    Name :   @Model.Name<hr/>
    Id :     @Model.Id<hr />
    Cuisine:  @Model.Cuisine<hr/>

</div>

<a asp-action="Index" asp-controller="Home">Home</a>
