<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        @RenderBody() 
    </div>
    <div>
        @DateTime.Now.Year
    </div>
    <footer>@RenderSection("footer",required:false)</footer>
</body>
</html>