<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LinqToSql.Properties.Settings.LinqDataBaseConnectionString"
            connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=LinqDataBase;Integrated Security=True;Connect Timeout=300;Encrypt=False;TrustServerCertificate=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>